
p{
	text-indent: justify;
}
.m-top{
	margin-top: 30px;
}
.caja-login{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 1);
	padding: 30px;
}
@media screen and (min-width: 600px){
	.body-login{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.caja-login{
		max-width: 500px;
		max-height: 500px;
		background-color: rgba(255, 255, 255, .8);
	}
}